body {
    background-color: #6B948D;
}

.calculator-container {
    display: flex;
    height: 500px;
    width: 460px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #AA888E;
    border-radius: 2%;
}

.interface-container {
    display: flex;
    background-color: #946B72;
    height: 480px;
    width: 440px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.display-container {
    height: 100px;
    width: 400px;
    background-color: gainsboro;
}

.button-container {
    display: flex;
    height: 300px;
    width: 320px;
    flex-flow: row wrap;
    margin: 0 20px 0 0;
}

.operator-container {
    display: flex;
    width: 60px;
    height: 320px;
    flex-flow: row wrap;
}

.button-container > div { 
    background-color: gainsboro;
    border: 1px darkgray solid;
    height: 45px;
    width: 100px;
    border-radius: 2px 0 0 0;
    margin: 0 2px 0 2px;
    border-radius: 2%;
}

.operator-container > div { 
    background-color: gainsboro;
    border: 1px darkgray solid;
    height: 70px;
    width: 50px;
    margin: 5px 2px 0 2px;
    border-radius: 2%;
}

.button-container > div > p, .operator-container > div > p { 
    text-align: center;
    font-family: Wallpoet;
    margin: auto 0;
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button-container > div:hover, .operator-container > div:hover { 
    background-color: darkgray;
}

.button-container > div:active, .operator-container > div:active { 
    background-color: gray;
}

